.App {
  text-align: center;
  height: 100vh;
  max-height: -webkit-fill-available;
}

#leafletMap {
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
}

.leafletOfficePopup .leaflet-popup-content-wrapper {
  border-radius: 0;
}
